body{
	background:url(https://images.unsplash.com/photo-1616514197671-15d99ce7a6f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80);
	background-repeat:no-repeat;
	background-size:cover;
	
}
h3,label{
	color:pink;
}
button{
	width:100px;
	
}

